<?xml version="1.0" encoding="UTF-8"?>
<java version="1.8.0_282" class="java.beans.XMLDecoder">
 <object class="kiosk.Settings" id="Settings0">
  <void class="kiosk.Settings" method="getField">
   <string>timeoutMillis</string>
   <void method="set">
    <object idref="Settings0"/>
    <int>300000</int>
   </void>
  </void>
  <void class="kiosk.Settings" method="getField">
   <string>gracePeriodMillis</string>
   <void method="set">
    <object idref="Settings0"/>
    <int>60000</int>
   </void>
  </void>
 </object>
</java>
